@import url("/home/ashu/.cache/wal/colors-waybar.css");

window {
    margin: 0px;
    border: 5px solid @background;
    background: transparent;
    color: transparent;
    background-color: transparent;
    border-radius: 15px;
}

#input {
    padding: 4px;
    margin: 4px;
    padding-left: 20px;
    border: none;
    color: @foreground;
    font-weight: bold;
    background: @background;
    outline: none;
    border-radius: 15px;
    margin: 10px;
    margin-bottom: 2px;
}
#input:focus {
    border: 0px solid @background;
    margin-bottom: 0px;
}

#inner-box {
    margin: 4px;
    border: 10px solid @background;
    color: @foreground;
    font-weight: bold;
    background-color: @background;
    border-radius: 15px;
}

#outer-box {
    margin: 0px;
    border: 2px solid @foreground;
    border-radius: 15px;
    background:@background;
}

#scroll {
    margin-top: 5px;
    border: none;
    border-radius: 15px;
    margin-bottom: 5px;
    background: transparent;
}

#text:selected {
    color: @background;
    margin: 0px 0px;
    border: none;
    background-color: transparent;
    background: transparent;
    border-radius: 15px;
}

#img {
  background: transparent;
  color: transparent;
  background-color: transparent;
}

#icon {
  background: transparent;
  color: transparent;
  background-color: transparent;
}
#entry {
    margin: 0px 0px;
    border: none;
    color: @foreground;
    border-radius: 15px;
    background-color: transparent;
}

#entry:selected {
    color: @background;
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
    background-color: @foreground;
}
